:root {
  --bg-color: #F3EFEC;
  --text-color: #312A4E;
  --accent-color: #FFAB6B;
  --main-font: Raleway;
  --accent-font: STIX Two Text;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.page {
  min-inline-size: 360px;
  margin: 0;
  color: var(--text-color, #312A4E);
  font-family: var(--main-font, sans-serif);
  background-color: var(--bg-color, #F3EFEC);

}

p,
h1,
h2,
h3,
blockquote,
ul,
ol,
li,
figure {
  margin: 0;
}

.heading {
  font-family: var(--accent-font, serif);
  text-align: center;
  font-style: normal;
  font-weight: 600;
  line-height: 0.9;
}

.content-section {
  padding: 0 5vi;
}

.header {
padding-block-start: 10%;
}

.header__title {
  margin-block-end: 40px;
  font-size: clamp(3.75rem, 2.5rem + 5.5556vw, 7.5rem);
}

.content-title {
  margin: 7% 0 2.5%;
  font-size: 30px;
}

.content__text-block {
font-size: 18px;
}

.content__text-block .content__paragraph:not(:last-of-type) {
  margin-block-end: 1.5em;
}

.content__text-block {
  color: inherit;
}

.content_blockquote {
inline-size: 75%;
margin: 0 auto 1.5em;
font-style: italic;
line-height: 2;
}

.content__list{
  list-style: none;
  padding: 40px;
}

.content__list li {
  position: relative;
}

.content__list li:not(:last-of-type) {
  margin-block-end: 10px;
}